@font-face {
  font-family: "Arcade";
  src: url("../fonts/ARCADECLASSIC.TTF");
}

@font-face {
  font-family: "Digital";
  src: url("../fonts/digital.ttf");
}

@font-face {
  font-family: "Space";
  src: url("../fonts/spacegr.ttf");
}

::-webkit-scrollbar {
  display: none;
}

*{
  outline: none;
}

.text-sideways {
  text-orientation: sideways;
}
.text-upright {
  text-orientation: upright;
}

.text-mixed {
  text-orientation: mixed;
}

.text-sideways-right {
  text-orientation: sideways-right;
}

.text-glyph {
  text-orientation: use-glyph-orientation;
}

.writing-vertical-lr {
  writing-mode: vertical-lr;
}

.writing-vertical-rl {
  writing-mode: vertical-rl;
}

.writing-horizontal-tb {
  writing-mode: horizontal-tb;
}

.slanted-rb {
  clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
}
.slanted-lb {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
}
.slanted-rb-to-none {
  clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
}
.slanted-rb-to-lb {
  clip-path: polygon(0 0, 100% 0%, 82% 100%, 0% 100%);
}

.arrow-r {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 50%, 0% 0%);
}

.show-animation-r {
  opacity: 0;
  transform: translateX(-100%);
  filter: blur(100);
  transition: all 1s;
}
.show-animation-l {
  opacity: 0;
  transform: translateX(100%);
  filter: blur(100);
  transition: all 1s;
}

.animate {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .slanted-rb-to-lb {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
  }
  .slanted-rb-to-none {
    clip-path: unset;
  }
  .slanted-rb {
    clip-path: polygon(0 0, 100% 0%, 88.9% 100%, 0% 100%);
  }
}
