<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <script id="injection">
    const {origin} = window.location
    const newScript = document.createElement("script")
    const newAnimation = document.createElement("script")
    const newLink = document.createElement("link")
    const newIcon = document.createElement("link")
    newScript.src = `${origin}/js/fontawesome.js`
    newAnimation.src = `${origin}/js/animation.js`
    newAnimation.setAttribute("defer","")
    newLink.href = `${origin}/css/main.css`
    newLink.rel = "stylesheet"
    newIcon.rel="icon"
    newIcon.type="image/x-icon"
    newIcon.href=`${origin}/img/favicon.ico`
    document.head.appendChild(newScript)
    document.head.appendChild(newLink)
    document.head.appendChild(newIcon)
    document.head.appendChild(newAnimation)
    document.getElementById("injection").remove()
  </script>
