@tailwind base;
@tailwind components;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 768px){
  ::-webkit-scrollbar {
      display: block;
      width: 8px;
  }
}

pre , code {
  ::-webkit-scrollbar{
    display: block;
    width: 8px;
  }
}

::-webkit-scrollbar-track {
  background: #212121;
}

::-webkit-scrollbar-thumb {
  background: #40403f;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.revert-tailwind {
  all: initial;
}

.revert-tailwind > * {
  all: revert;
}

.blog-container {
  color: #aeb9d6;
  word-break: break-word;
  font-family: var(--font-space);
}

.blog-container > p , .blog-container > span {
  font-size: 1.2rem;
}

.blog-container > p > b, .blog-container > p > strong {
  font-family:sans-serif;
}

.blog-container > pre, .blog-container > code {
  width: 100%;
  overflow-x: auto;
}


.typing-text {
  opacity: 0;
}

.slide-r {
  opacity: 0;
  transform: translateX(-100%);
  filter: blur(100);
  transition: all 1s;
}

.slide-l {
  opacity: 0;
  transform: translateX(100%);
  filter: blur(100);
  transition: all 1s;
}

.animate {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.bg-material {
  background-image: url("../../public/img/bg_material.png");
}

@keyframes moveLeftToRight {
    0% {
	transform: translateX(0%);
    }
    50% {
	transform: translateX(80%);
    } 
    100%{
	transform: translateX(0%);
    }
}

.l-to-r {
    animation: moveLeftToRight 2s linear infinite;
}

#blog_editor {
  display: none;
}

@tailwind utilities;
